@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient( to right, #c016eb, #10f0a9
    );
    font-family: 'Lato', sans-serif;
    color: white;
  
}

form{
    background-color: white;
    color: #333;
    width: 350px;
    height: 100vh;
    padding: 2rem;      /* 1 rem= 16px */
}

h2{
    margin: 2rem 0 1rem;
}

input[type="color"]{
    border: none;
    box-shadow: none;
    background-color: transparent;
    width: 45%;
    height: 50px;
}

input[type='radio']{
    display:none;
    
}

label{
    margin: 0.5rem;
    background-color: #545454;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type='radio']:checked + label{
    background-color:#9f9f9f;
    color: #333;
}

.direction_grid{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}