body{
    font-family: 'Trebuchet MS', sans-serif;
}

input, button{
    font-family: inherit;
    padding: 10px;
    font-size: 14px;
}

button {
    border: none;
    background-color: chocolate;
    color: white;
    margin: 20px 0;
    border-radius: 5px;
}

label{
    display: inline-block;
    width: 100px;
}
input{
    display: inline-block;
    width: 50px;
}

.form_group{
    margin:10px 0;

}